*{
    margin:0;
    padding:0;
}
body{
    font: 14px/22px 'Microsoft Yahei',Helvetica,Arial,STXihei,SimSun,sans-serif;
    color: #3e3e3e;
    background: #fff;
}
a{
    text-decoration: none;
    color:#3e3e3e;
}
li{
    list-style: none;
    float: left;
}
input{
    outline:none;
    border:none;
}
img{
    border:none;
}
/*=====================主题部分===================*/
#main{
    height:497px;
    padding-top:100px;
}
#main .content{
    width:1090px;
    height:497px;
    margin:0 auto;
}
#main .content .img{
    width:600px;
    height:497px;
    float: left;
}
#main .content .img1{
    width:600px;
    height:355px;
    background:url("../img/register.png");

    margin-top:70px;
}
#main .content .form{
    width: 420px;
    margin-right: 68px;
    box-shadow: 0 0 5px #e1e1e1,0 0 15px #e1e1e1;
    float: left;
}
#main .content .form .content1{
    padding: 35px;
    width:420px;
    height:400px;
}
#main .content .form .formtitle{
    width:350px;
    height:22px;
}
#main .content .form .formtitle .word1{
    color: #5a5d6c;
    font-size: 21px;
    float: left;
    width:185px;
}
#main .content .form .formtitle .word2{
    font-size: 12px;
    float: left;
}
#main .content .form .formtitle a{
    color: #ec3e7d;
}
#main .content .form .text{
    margin-top: 40px;
}
#main .content .form .text li{
    height: 70px;
    font-size: 13px;
    margin-bottom:5px;
    display: block;
    float: left;
}
#main .content .form input{
    width: 340px;
    height:30px;
    margin-bottom:10px;
    display: block;
    border:1px solid #cccccc;
    color: #8d8d8d;
    padding:5px;
    text-indent: 20px;
}
#main .content .form .tel1{
    background:url('../img/login.png') no-repeat 0 10px;
}
#main .content .form .psd3{
    background:url('../img/login2.png') no-repeat 0 10px;
}
#main .content .form .text li:hover li{
    box-shadow: 5px 5px 5px #ec3e7d;
}
#main .content .form .rember{
    width:350px;
    height: 34px;
    padding:30px 0 30px 0;
    position:relative;
    float: left;
}
#main .content .form .rember #xrember{
    height: 13px;
    width: 20px;
    box-shadow: none;
    line-height:30px;
    float: left;
    margin-top:5px;
}
#main .content .form .rember p{
    font-size: 14px;
    width:80px;
    float: left;
    margin-left:10px;
    color:#ec3e7d;
}
#main .content .form .rember .word1{
    COLOR:#3E3E3E;
}
#main .content .form .logins{
    width:350px;
    height:40px;
    float: left;
}
#main .content .form #logs{
    display: block;
    width: 100%;
    background: #ec3e7d;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
#main .content .form .third{
    float: left;
    width:100%;
    line-height:100px;
}
#main .content .form .third p{
    width:350px;
    height: 30px;
    margin:20px 0 20px 10px;
}
#main .content .form .third li{
    display: inline-block;
    float: left;
    width: 115px;
    padding: 10px 0;
    font-size: 12px
}
#main .content .form .third li a:hover{
    opacity: .6;
    filter:alpha(opacity=60);
}